
.imageContainer{
  width: 10000px;
}
.imageContainer::after {
  content: "";
  clear: both;
  display: table;
}
.center-left {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(-50%, -50%);
}

.center-right {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(-50%, -50%);
}

.animate { transition: transform 0.3s ease-out; }